extends base

//- It will create same element like a function
mixin navItem(link, text, icon, active)
    li(class=`${active ? 'side-nav--active' : ''}`)
        a(href=`${link}`)
            svg 
                use(xlink:href=`/img/icons.svg#icon-${icon}`)
            |   #{text}

block content 
    main.main.main--product
        .user-view 
            nav.user-view__menu
                ul.side-nav 
                    +navItem(`/account/${user.name}`, 'Account', 'settings', true)
                    +navItem(`/account/${user.name}/my-orders`, 'My orders', 'briefcase')

            .user-view__content 
                .user-view__form-container 
                    .user-view__heading 
                        h2.heading-secondary.ma-bt-md Your Account  
                        span 😎


                    //- User data
                    .form-user-data
                        .form__group 
                            p.form__label Name
                            .form__input= `${user.name}`
                        .form__group.ma-bt-md
                            p.form__label Email Address
                            .form__input= `${user.email}`
                        .form__group.form__group--btn
                            button.btn.btn--green.btn--logout Logout 

