//- It extends the base file, use it and override its content.
extends base

block content 
    main.main.main--product  
        .card-container 

            //- Pug built-in array
            each product in products  
                .card
                    .card__header
                        .card__picture
                            .card__picture-overlay &nbsp;
                            img.card__picture-img(src=`/img/products/${product.images}`, alt=`${product.name}`)
                        h3.heading-tertirary
                            span= product.name 

                    .card__footer 
                        p
                            span.card__footer-value= `$${product.price}`
                        a.btn.btn--green.btn--small(href=`/products/${product.slug}`) Details
