extends ../adminBase

block content 
    include ../sidebar/_productSidebar.pug

    section.update--product_container 
        .update--product_header
            .back--btn 
                a(href="/admin/products") 
                    svg 
                        use(xlink:href='/img/icons.svg#icon-skip-back')
                    span Back 
            
            .header 
                h1 Update Product 


        form.form.update--product__form
            .form-update.product__name
                label Name 
                input.update--product_name(type="text",value=`${productData.name}`,placeholder="Product Name",onfocus="this.placeholder= ''",onblur="this.placeholder= 'Product Name'",required)
            .form-update.product__keyword
                label Keyword 
                input.update--product_keyword(type="text",value=`${productData.keyword}`,placeholder="Product Keyword",onfocus="this.placeholder= ''",onblur="this.placeholder= 'Product Keyword'",required)
            .form-update.product__brand
                label Brand 
                input.update--product_brand(type="text",value=`${productData.brand}`,placeholder="Product Brand",onfocus="this.placeholder= ''",onblur="this.placeholder= 'Product Brand'",required)
            .form-update.product__description
                label Description 
                textarea.update--product_description(cols="40", rows="10",placeholder="Product Description",onfocus="this.placeholder= ''",onblur="this.placeholder= 'Product Description'",required)=`${productData.description}`
            .form-update.product__price
                label Price 
                input.update--product_price(type="text",value=`${productData.price}`,placeholder="Product Price",onfocus="this.placeholder= ''",onblur="this.placeholder= 'Product Price'",required)
            .form-update.product__image
                label Image 
                input.update--product_image(type="text",value=`${productData.images}`,placeholder="Product Image",onfocus="this.placeholder= ''",onblur="this.placeholder= 'Product Image'",required)

            .update--product 
                button.btn.btn--update(data-product-id=`${productData.id}`) Update